{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}

{% block styles %}

.time{
  margin-left: 330px;
  margin-bottom: 5px;
}

table{
  margin-left: 250px;
}

h1{
  color:red;
}

.cooking{
  font-family: 'Trattatello', fantasy;
  font-size: 16px;
    font-style: italic;
 border: 2px solid black;
margin: 5%;
padding: 25px;
}

.lux {
padding-left: 10p;
  margin-bottom: 5px;
    width: 300px;
    border: 1px inset #a52a2a;
    border-collapse: collapse;
    border-spacing: 0;
	text-align:center;
  border-radius: 2px;
font-size: 15px;
   }
.lux th {
    background: #a52a2a;
    color: white;
   }
.lux td {
    border-bottom: 1px inset black;
   }
.lux td, .lux th {
    padding: 4px;
}
tr:nth-child(odd) {
	background:#fff8dc;
}

{% endblock %}

{% block content %}

<div class="ingredients">
  <a class="time">Время готовки: {{ post.time_cooking }}</a>
  <p></p>
  <table class="lux">
    <th>Ингредиенты</th>
  {% for each in post.ingredients_as_list %}
<tr><td>{{each}}</td></tr>
  {% endfor %}
  </table>
</div>
<div class="cooking">
  <a>{{ post.cooking }}</a>
</div>

{% endblock %}
