<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}Title name{% endblock %}</title>
    <style type="text/css">{% block styles %}{% endblock %}
.header {
  display: block;
  height: 130px;
  background: #a52a2a;
    }
.head{
color: rgb(144, 144, 144)
}
.head1{
  color: white;
}
    </style>
  </head>
  <body>
    <div class="header">
    <a class="head" href ="/" >Home</a>
    <a class="head" href = "/recepts/">Recipes</a>
    <a class="head" href = "/login/">Login</a>
    <a class="head" href = "/register/">Registraton</a>
    <h1 class="head1" align="center">{{ post.title }}</h1>
</div>
    {% block content %}
    {% endblock %}
  </body>
</html>
